<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.DebugPersonRenderingSeedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.becalm.android.DEBUG_SEED_PERSON_RENDERING" />
                <action android:name="com.becalm.android.DEBUG_ENQUEUE_CLOVA_AUDIO_E2E" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
