<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="becalm" android:host="qa" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".debug.DebugPersonRenderingSeedReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.becalm.android.DEBUG_SEED_PERSON_RENDERING" />
                <action android:name="com.becalm.android.DEBUG_ENQUEUE_CLOVA_AUDIO_E2E" />
                <action android:name="com.becalm.android.DEBUG_SEED_MEETING_SPEAKER_JOURNEY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".debug.DebugCrashlyticsSmokeReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.becalm.android.DEBUG_CRASHLYTICS_NON_FATAL" />
                <action android:name="com.becalm.android.DEBUG_CRASHLYTICS_FORCE_CRASH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.DebugAmplitudeSmokeReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.becalm.android.DEBUG_AMPLITUDE_FAKE_CRASH_EVENT" />
                <action android:name="com.becalm.android.DEBUG_AMPLITUDE_METRICS_SMOKE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
